<ion-view view-title="Welcome">
  <ion-content ng-controller="AppController">
    
    <div class="dashboard-container" >

      <div class="banner">
        <div class="banner-content">
            <h1 class="animated page-name hidden"><ion-icon name="speedometer" class="icon ion-ios-speedometer-outline"></ion-icon> Dashboard</h1>
            <h1 class="animated page-time hidden"><ion-icon name="clock" class="icon ion-ios-time-outline"></ion-icon><span am-time-ago="message.time | amParse:'YYYY.MM.DD HH:mm:ss'"></span></h2>
            <h3 class="animated page-welcome title hidden">Welcome to your super advanced dashboard!</h3>
            <p class="animated text page-summary hidden">
              Text inside of the dashboard-banner here
              
            </p>
        </div>
      </div>



<div class="container">

    <div class="card">
      <div class="item item-divider">
        Line Charts
      </div>
      <div class="item item-text-wrap" id="line-chart" ng-controller="LineCtrl">
        
        <canvas id="line" class="chart chart-line chart-xl" data="data" labels="labels" legend="true"
                      click="onClick" series="series"></canvas>


      </div>
      <div class="item item-divider">
         <button class="button button-energized" ng-click="toggleAdditionalInfo()">More</button>
         <p class="additional-info hidden">
            This is some additional info and possibly a <a href="#">link</a> to details page.
         </p>
      </div>
  </div>
                  




          <button class="button button-light button-block">Light</button>
          <button class="button button-positive button-block">Positive</button>
          <button class="button button-balanced button-block">Balanced</button>
          <button class="button button-energized button-block">Energized</button>
          <button class="button button-royal button-block">Royal</button>
          <button class="button button-dark button-block">Dark</button>
          <button class="button button-stable button-block">Stable</button>
          <button class="button button-assertive button-block">Danger</button>
          <button class="button button-calm button-block">Calm</button>
          <button class="button button-outline button-primary btn-banner">Default Banner Button</button>
          <button class="button button-outline button-light button-block">Light</button>
          <button class="button button-outline button-positive button-block">Positive</button>
          <button class="button button-outline button-balanced button-block">Balanced</button>
          <button class="button button-outline button-energized button-block">Energized</button>
          <button class="button button-outline button-royal button-block">Royal</button>
          <button class="button button-outline button-dark button-block">Dark</button>
          <button class="button button-outline button-stable button-block">Stable</button>
          <button class="button button-outline button-assertive button-block">Danger</button>
          <button class="button button-outline button-calm button-block">Calm</button>
       

          <ionic-datepicker input-obj="datepickerObject">
            <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
          </ionic-datepicker>
  
          <button class="button button-light">Light</button>
          <button class="button button-positive">Positive</button>
          <button class="button button-balanced">Balanced</button>
          <button class="button button-energized">Energized</button>
          <button class="button button-royal">Royal</button>
          <button class="button button-dark">Dark</button>
          <button class="button button-stable">Stable</button>
          <button class="button button-assertive">Danger</button>
          <button class="button button-calm">Calm</button>
          <button class="button button-outline button-primary btn-banner">Default Banner Button</button>
          <button class="button button-outline button-light">Light</button>
          <button class="button button-outline button-positive">Positive</button>
          <button class="button button-outline button-balanced">Balanced</button>
          <button class="button button-outline button-energized">Energized</button>
          <button class="button button-outline button-royal">Royal</button>
          <button class="button button-outline button-dark">Dark</button>
          <button class="button button-outline button-stable">Stable</button>
          <button class="button button-outline button-assertive">Danger</button>
          <button class="button button-outline button-calm">Calm</button>



     </div>
  </ion-content>
</ion-view>
