<ion-view view-title="<ion-icon name='speedometer' class='icon ion-ios-speedometer-outline'></ion-icon> Dashboard">
  <ion-content>

    <div class="row">
      <div class="col">
        <h1><ion-icon name="speedometer" class="icon ion-ios-speedometer-outline"></ion-icon></h1>
        <p>
          <!-- <span><strong><ion-icon name="clock" class="icon ion-ios-time-outline"></ion-icon></strong> {{message.time}}</span> -->
        </p>

      </div>
    </div>


    <div class="row">
      <h3>Components</h3>
      <div class="col">
        <button class="button button-block" ng-click="showToast()">Show Toast at top with close</button>
      </div>
      <div class="col">
        <strong><ion-icon name="clock" class="icon ion-ios-time-outline"></ion-icon></strong>
        <span am-time-ago="message.time | amParse:'YYYY.MM.DD HH:mm:ss'"></span>
      </div>
      <div class="col">
        <span am-time-ago="message.unixTime | amFromUnix"></span>
      </div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>


    <div class="row">
      <h3>Icons</h3>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col"><i class="icon ion-home"></i></div>
    </div>



  </ion-content>
</ion-view>
