<ion-view view-title="Home Controller">
  <ion-content>
    <h1><ion-icon class="icon {{controller.iconClass}}"></ion-icon> {{controller.title}}</h1>
        
    <ion-pane id="motion" class="my-slide-animation" ng-if="app.motion">
          <div ng-include="'templates/motion/motion.html'"></div>
      </ion-pane>
      <ion-pane id="doors" class="my-slide-animation" ng-if="app.doors">
          <div ng-include="'templates/doors/doors.html'"></div>
      </ion-pane>

  </ion-content>
</ion-view>
