<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
        <form>
            <label class="item item-divider">
                Profile
            </label>

            <a class="item item-avatar" href="#">
              <img src="http://lorempixel.com/50/50/people/9/" class="">
              <h2>{{user.username}}</h2>
            </a>
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="data.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="data.password">
            </label>



            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="email" ng-model="data.email">
            </label>
            <label class="item item-input">
              <span class="input-label">Telephone</span>
              <input type="tel" ng-model="data.phone">
            </label>


            <ion-list>
              <ion-checkbox ng-model="filter.blue">Red</ion-checkbox>
              <ion-checkbox ng-model="filter.yellow">Yellow</ion-checkbox>
              <ion-checkbox ng-model="filter.pink">Pink</ion-checkbox>
            </ion-list>

            <label class="item">
              <button class="button button-block button-positive" type="submit" ng-click="doSettings()">Save Settings</button>
            </label>

        </form>
    </div>
  </ion-content>
</ion-view>